.header {
  background-color: #0074BD;
  font-size: 16px;
  height: 40px;
  font-family:"Source Sans Pro",Arial,Helvetica,sans-serif;
  
}

.header ul {
  padding-left: 40px;
}
.header a {
  color:#fff;
  font-weight: bold;
  padding:6px 12px;
  display:inline-block;
  border-radius: 5px;
}

.header a:hover {
  background-color:rgba(25,25,25,0.1);
}

body {
  background-color:#E3E3E3;
}

.logo a  {
  padding:0!important
}

.App {
  
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

ul {
  margin:0;
  padding:0;
}

li {
  list-style-type: none;
  padding: 4px 5px;
}

.flex {
  display:flex;
}

.content {
  max-width: 1338px;
  background-color: #E3E3E3;
  padding-top: 12px;
  margin: 0 auto; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shirt-section {
  position:absolute;
  overflow:hidden;
}

.shirt-section.selected {
  border:2px solid black;
}

.image-container {
  position:relative;
}

.upload-button {
  position:absolute;
  z-index:10;
  left: 0;
  top:0;
  width:80px;
}

.click-watcher {
  width:100%;
  height: 100%;
}

.hidden {
  opacity: 0;
}

.sidebar {
  width: 250px;
  background-color: black;
  color: white;
  display:flex;
  flex-direction:column;
  justify-content:space-between
}

.sidebar-main {
  flex-grow: 2;
}

.primary-button {
  margin: 20px;
  width: 210px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  background: rgb(255,184,0);
  border: none;
}
